<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste des appels</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h1>Ajouter un appel</h1>

<form method="post"  th:object="${appel}" >


    <div class="form-group">
        <label for="typeAppelant">Type d'appelant</label>
        <select th:field="*{typeAppelant}" name="typeAppelant" class="form-control" id="typeAppelant">
            <option th:each="typeAppelant : ${typeAppelants}" th:value="${typeAppelant.id}" th:text="${typeAppelant.libelle}"></option>
        </select>
        <div th:if="${#fields.hasErrors('typeAppelant')}" th:errors="*{typeAppelant}">Error</div>
    </div>

    <div class="form-group">
        <label for="nomAppelant">Nom de l'appelant</label>
        <input th:field="*{nomAppelant}" type="text" class="form-control" id="nomAppelant" placeholder="Nom de l'appelant">
        <div th:if="${#fields.hasErrors('nomAppelant')}" th:errors="*{nomAppelant}">Error</div>
    </div>

    <div class="form-group">
        <label for="prenomAppelant">Prénom de l'appelant</label>
        <input th:field="*{prenomAppelant}"  name="prenomAppelant" type="text" class="form-control" id="prenomAppelant" placeholder="Nom de l'appelant">
        <div th:if="${#fields.hasErrors('prenomAppelant')}" th:errors="*{prenomAppelant}">Error</div>
    </div>

    <div class="form-group">
        <label for="telAppelant">Numéro de l'appelant</label>
        <input th:field="*{telAppelant}"  name="telAppelant" type="text" class="form-control" id="telAppelant" placeholder="Numéro de l'appelant">
        <div th:if="${#fields.hasErrors('telAppelant')}" th:errors="*{telAppelant}">Error</div>

    </div>

    <div class="form-group">
        <label for="objetAppel">Objet de l'appel</label>
        <textarea id="objetAppel">

        </textarea>
    </div>

    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />

    <input type="submit">

</form>


<a th:href="@{/}">Retour</a>


</body>

</html>