
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste des appels</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h1>Liste des appels</h1>


<table>
    <tr>
        <th>Nom de l'appelant</th>
        <th>Prénom de l'appelant</th>
        <th>Tel appelant</th>
        <th>Type de l'appelant</th>

    </tr>

    <tr th:each="appel : ${appels}">

        <td th:utext="${appel.nomAppelant}">..</td>
        <td th:utext="${appel.prenomAppelant}">..</td>
        <td th:utext="${appel.telAppelant}">..</td>
        <td th:utext="${appel.typeAppelant.libelle}">..</td>

    </tr>
</table>



<a th:href="@{/add}">Ajouter un appel</a>
<a th:href="@{/logout}">Log out</a>

</body>

</html>